	
		p  {
			 
			 border: 2px;
			 margin: 5px;
			 width: 50%; 
			 padding: 2px,4px,2px,4px;
			} 
			

			header{
				max-width: 100%
			}

		body { margin: 0 auto;
				border: solid; 
				
			}

			img{
				max-width: 80%;
				padding:4px;
			}

			/*.col{
				border: solid;
				display: inline-block;
				width: 400px;
				vertical-align: top;
			}*/